@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@700&display=swap");
body {
  margin: 0;
  background: rgb(176, 220, 139);
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#verticalButtons {
  display: flex;
  flex-direction: column;
}
.gameover {
  background-color: rgba(122, 122, 122, 0.045);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  height: 100vh;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.gameover > button {
  padding: 2vmax;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  width: 30vw;
  background-color: white;
  font: 900 1.8vmax "Orbitron";
  transition: all 0.5s;
}
.gameover > button:hover {
  background-color: rgb(30, 30, 34);
  color: white;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.gameover > div {
  margin: 2vmax;
  color: white;
  font: 600 1.2vmax "Orbitron";
}

.playAgain {
  background-color: rgba(122, 122, 122, 0.045);
  border-radius: 5px;
  position: fixed;
  top: 50%;
  height: 100vh;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.playAgain > button {
  padding: 2vmax;
  border: 2px solid rgb(255, 255, 255);
  cursor: pointer;
  width: 25vw;
  color: white;
  background-color: rgb(4, 24, 55);
  font: 900 2vmax "Orbitron";
  transition: all 0.5s;
}
.playAgain > button:hover {
  background-color: rgb(17, 244, 191);
  color: black;
  box-shadow: 50 50 1000px rgb(82, 79, 79);
}

.playAgain > div {
  margin: 2vmax;
  color: white;
  font: 600 1.2vmax "Orbitron";
}
button {
  border: none;
  border-radius: 5px;
  padding: 5px 5px 7px 5px;
  margin: 2px;
  cursor: pointer;
}
button:hover {
  background: blue;
}

#networkCanvas {
  background: black;
}
#vehicleCanvas {
  background: rgb(114, 106, 106);
}
